<ons-page ng-controller="tabbarController">
	
  	<ons-tabbar id="myTabbbar" name="myTabbbar" swipeable position="bottom">
	    <ons-tab page="templates/home.html" label="Accueille" icon="ion-home, material:md-home" badge="7" active></ons-tab>
		<ons-tab page="templates/includes/map.html" label="Carte" icon="md-settings" active-icon="md-face"></ons-tab>
		<ons-tab page="templates/includes/enquiries.html" label="Renseignements" icon="md-settings" active-icon="md-face"></ons-tab>
		<ons-tab page="templates/includes/menu.html" label="Menu" icon="md-settings" active-icon="md-face"></ons-tab>
	</ons-tabbar>
</ons-page>
</ons-page>